 .u-section-1 {
  min-height: 131px;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: 37px auto 0 calc(((100% - 1140px) / 2) + 387px);
}

.u-section-1 .u-line-2 {
  transform-origin: right center 0px;
  width: 1140px;
  margin: 17px auto 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-2 {
    height: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-2 {
    width: 991px;
    margin-left: calc(((100% - 1140px) / 2) + 75px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-2 {
    width: 767px;
    margin-left: calc(((100% - 1140px) / 2) + 187px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    margin-top: -19px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 56px;
    margin-left: calc(((100% - 1140px) / 2) + 455px);
  }

  .u-section-1 .u-line-2 {
    width: 575px;
    margin-bottom: 42px;
    margin-left: calc(((100% - 1140px) / 2) + 283px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1032px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 765px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 49px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 639px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 25px;
}

.u-section-2 .u-accordion-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-accordion-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 203px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 103px 0 0;
}

.u-section-2 .u-text-2 {
  margin: -2px 30px 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-accordion-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 410px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 29px;
}

.u-section-2 .u-text-4 {
  margin: 0 1px;
}

.u-section-2 .u-accordion-item-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 160px;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 29px;
}

.u-section-2 .u-text-5 {
  margin: 0 1px;
}

.u-section-2 .u-accordion-item-4 {
  margin: 2px auto 0;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 160px;
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 29px;
}

.u-section-2 .u-text-6 {
  margin: 0 1px;
}

.u-section-2 .u-accordion-item-5 {
  margin: 2px auto 0;
}

.u-section-2 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 160px;
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 29px;
}

.u-section-2 .u-text-7 {
  margin: 0 1px;
}

.u-section-2 .u-image-1 {
  width: 264px;
  height: 264px;
  margin: -661px auto 0 153px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 15px 620px 0 50px;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  line-height: 2;
  margin: 40px 620px 0 50px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.25rem;
  border-style: none;
  margin: 30px auto 87px 152px;
  padding: 19px 52px 20px 51px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 631px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 527px;
  }

  .u-section-2 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: 3px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -711px;
    margin-left: 102px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 68px;
    margin-right: 489px;
    margin-left: -19px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: 489px;
    margin-left: -19px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 29px;
    margin-left: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 483px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -692px;
    margin-left: 48px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 49px;
    margin-right: 379px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 269px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 725px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 755px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-accordion-1 {
    width: 520px;
    margin-top: -276px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -1603px;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    width: 270px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-9 {
    margin-top: 16px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 16px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -21px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 628px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-2 .u-accordion-1 {
    margin-top: -605px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -1785px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-bottom: 1241px;
  }
}