---
---

@import "{{ site.theme }}";
//keep site theme 

nav {
  ul{
   list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li{
   font-size: 20pt;
    display: inline;
    // changes list to horizontal instead of vertical
  }
}
